{% extends 'BillMate.html' %}

{% block title %}Chores{% endblock %}

{% block content %}
    <h3>Add Chore:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <h3>Chore List: </h3>
    {% for chore in chore_list %}
        <li><b>{{ chore.name }}:</b>{{ chore.assignee }} must complete task by {{ chore.due_date }}
            <br>
            Created {{ chore.creation_date }}
            <form action="#" method="get"><input type="submit" class="button" value="Edit" name="{{ chore.id }}"></form>
        </li>
    {% endfor %}
{% endblock %}
