{% extends 'BillMate.html' %}

{% block title %}Duty Report{% endblock %}

{% block content %}
    <h3>Paid Bills: </h3>
    {% for bill in bill_list%}
        <li><b>{{ bill.bname }}:</b> ${{ bill.total_cost }} paid to {{bill.company}} by {{bill.due_date}}</li>
    {% endfor %}
    <h3>Total Bill Cost: {{bill_sum}} </h3>
    <hr>
    <h3>Groceries Bought: </h3>
    {% for grocery in grocery_list %}
        <li><b>{{ grocery.gname }}:</b> ${{ grocery.total_cost }} bought from {{grocery.store}}</li>
    {% endfor %}
    <h3>Total Grocery Cost: {{grocery_sum}} </h3>
{% endblock %}
