{% extends 'BillMate.html' %}

{% block title %}Grocery{% endblock %}

{% block content %}
    <h3>Add Grocery Item:</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <h3>Grocery List: </h3>
    {% for grocery in grocery_list %}
        <li><b>{{ grocery.gname }}:</b>${{grocery.remaining_cost}} of ${{grocery.total_cost}} remains. 
            <pre>   Purchased from:{{ grocery.store }} By {{grocery.purchaser}} on {{grocery.creation_date}}</pre></li>
    {% endfor %}
{% endblock %}
